public/sitemap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
            targetNamespace="http://www.sitemaps.org/schemas/sitemap/0.9"
            elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation>XML Schema for the Sitemap Protocol 0.9</xsd:documentation>
  </xsd:annotation>

  <xsd:element name="urlset" type="tUrlSet"/>

  <xsd:complexType name="tUrlSet">
    <xsd:sequence>
      <xsd:element name="url" type="tUrl" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="tUrl">
    <xsd:sequence>
      <xsd:element name="loc" type="xsd:anyURI"/>
      <xsd:element name="lastmod" type="tLastMod" minOccurs="0"/>
      <xsd:element name="changefreq" type="tChangeFreq" minOccurs="0"/>
      <xsd:element name="priority" type="tPriority" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="tChangeFreq">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="always"/>
      <xsd:enumeration value="hourly"/>
      <xsd:enumeration value="daily"/>
      <xsd:enumeration value="weekly"/>
      <xsd:enumeration value="monthly"/>
      <xsd:enumeration value="yearly"/>
      <xsd:enumeration value="never"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tPriority">
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="0.0"/>
      <xsd:maxInclusive value="1.0"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="tLastMod">
    <xsd:union memberTypes="xsd:date xsd:dateTime"/>
  </xsd:simpleType>

</xsd:schema>
